
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.text-container {
    display: inline-block;
    text-align: left;
    width: 50%;
    max-width: 600px;
}
h2 {
    text-align: center;
}
li {
    text-align: left;
    margin-bottom: 10px;
}

#nav_active {
    font-weight: bold;
}